/* *{
    /* color: orange; */
    /* border: 1px solid black; */
/* }

body{
    background-color: aquamarine;
}

h1{
    color: blue;
}

.red-font{
    color: red;
}

#purp{
    color: purple;
}

/* div>p{
    font-family: cursive;

} */

/* #header p{
    font-family: cursive;
    color: red;
    font-size: 24px;
} */

#header{
    border: 1px solid black;
    text-align: center;
    background-color: bisque;
}